.left
  %h2 Une journée à Miaa
  %h4 Le témoignage d'Elsa

  %p 
    "J'arrive  pour la maraude de 11 heures, L’accueil est chaleureux et agréable. Intégrée dans une équipe, nous sommes 
    équipées d'une voiture, d'un pilote, de repas à distribuer, un plan te un itinéraire à suivre. 

  %p
    Nous écumons les boulevards, les métros aériens, les quais, nous rencontrons surtout des femmes qui font la manche devant les supermarchés et les boulangeries ; et des hommes, le plus souvent abrités sous des tentes.Il fait froid et l’air est humide. 

  %p
    Devant un supermarché, un homme est couché à même le béton, dans une position fœtale. Un bonnet enfilé jusqu’au nez recouvre son visage que nous ne verrons jamais, ses mains sont jointes entre les genoux pour se protéger du froid.  De loin il a l’air mort. Mais en s’approchant, on distingue vaguement qu’il respire. On lui demande s’il veut un repas. Il ne remue pas. Nous déposons tout devant lui, et quand la voiture démarre il se redresse enfin, sans doute pour ne pas voir nos regards.

  %p
    Sur la rue du Faubourg du Temple , une femme la soixantaine, nous accueille avec un grand sourire. Pendant une fraction de seconde j’ai même peur qu’elle nous fasse la bise. C’est une dame joviale, qui parle avec un fort accent. Elle porte des pantoufles qu’elle nous montre à plusieurs reprises, avec une mince paire de chaussettes. Elle nous demande si nous avons aussi des vêtements,

  %p
    Au square place de la République, un petit groupe de sans-abris nous dévalise littéralement. Un homme que nous avons déjà rencontré plus tôt nous demande un second repas, on lui tend un morceau de cake mais on ne pourra lui en donner plus. 

  %p
    Maraude terminée aux alentours de 15 heures.
  
  %p
    Il reste d’autres personnes à aller voir, et nous n’avons déjà plus de soupe. Retour au camp de base. On mange quelques chocos en compagnie d’une cuisinière. Dure matinée, ils n’étaient que deux personnes aux cuisines pour préparer les 100 repas. Arrive une autre personne, en charge de faire les courses. 

  %p
    Vous pouvez tenter une journée comme celle-ci, aux cuisines ou en maraude, selon votre envie. 
  
  %p
    L’idéal, j’imagine, est peut-être d’y aller une première fois. Contrairement aux autres associations existantes, il n’y a aucun engagement, vous pouvez prévenir au dernier moment que vous désirez passer (évitez quand même de vous désister)."
  
.right
  = image_tag "photos/stew.jpg"
  = image_tag "photos/car_back.jpg"
  = image_tag "photos/drink.jpg"