.small-left-padding
  %h2 Contact
  %h4 Nos Locaux
  %p
    M I A A (Mouvement d'Intermittents d'Aide aux Autres)
    %br
    101 rue du Bac
    %br
    75007 Paris
  
  %h4 Par Email
  %p  
    miaa75@gmail.com


.big-right-padding
  :plain
    <iframe width="370" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=101+rue+du+Bac+-+75007+Paris+&amp;sll=48.856667,2.350987&amp;sspn=0.248927,0.604935&amp;ie=UTF8&amp;hq=&amp;hnear=101+Rue+du+Bac,+75007+Paris,+Ile-de-France,+France&amp;ll=48.853085,2.323692&amp;spn=0.007779,0.018904&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=101+rue+du+Bac+-+75007+Paris+&amp;sll=48.856667,2.350987&amp;sspn=0.248927,0.604935&amp;ie=UTF8&amp;hq=&amp;hnear=101+Rue+du+Bac,+75007+Paris,+Ile-de-France,+France&amp;ll=48.853085,2.323692&amp;spn=0.007779,0.018904&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>