.left
  %h2 Faites un don
  %h4 Par chèque
  %p
    A l'ordre de 
    "MIAA  - 101 rue du Bac - 75007 Paris"

  %h4 Par prélèvement automatique
  %p
    Sur simple demande nous vous enverrons un formulaire de prélèvement automatique.

  %p
    RIB MIAA :
    %br
    BPRIVES PARIS SEVRES DUROC
    %br
    10207   00085   20217719702   59
    
  %p
    %strong
      MIAA peut assurer 100 repas par jour, 
      5 jours par semaine toute l'année, 
      si chacun décide de nous verser 5 euros par mois.
    
.right
  = image_tag "photos/talking.jpg"