.left
  %h2 Nous rejoindre
  %h4 S'incrire comme bénévole
  %p 
    L'inscription se fait par mail à 
    = link_to "miaa75@gmail.com", "mailto:miaa75@gmail.com"
  
  %p
    Chacun décide son tempo en fonction de sa disponibilité et de ses dates.
    Dites nous si vous avez une voiture ou si vous avez votre permis de conduire.
  
  %p
    Nous organisons les planning avec à l'esprit que nous avons tous des impondérables.
    Ce n'est pas toujours facile, mais c'est comme ça !
  
  %p
    Nous distribuons tous les jours 100 repas (sauf samedi et lundi) : soupe, plat, pain, fromage, dessert et couverts.


  %h4 Une journée avec MIAA
  %ul
    %li
      De 8h à 11h équipe "Cuisine" à la MJC mercoeur* pour la distribution du jour.
  
    %li
      de 11h à 14h équipe "Cuisine" à la MJC mercoeur* pour préparer les repas du lendemain.

    %li
      de 11h à 16h équipe "Maraude"  : 2 voitures partent avec 2 ou 3 bénévoles par voiture sur trois circuits déjà établis afin de distribuer sur la route, parler avec ceux qu'ils rencontrent, donner des vêtements ou autres produits, noter leurs questions, leurs besoins.

  %p A tout moment équipe "Logistique" pour récupérer des dons vêtements, faire les courses, un peu de mécanique automobile, proposer des recettes, rechercher des partenaires, ... bref, toute action nécessitant du temps, une voiture, des compétences et ...plein de bonne volonté !

  %p 
    %em * MJC mercoeur - 4 rue Mercoeur - 75011 Paris

.right
  = image_tag "photos/making_food.jpg"
  = image_tag "photos/talking_outside.jpg"
  