.left
  %h2 Presse
  %h4 
  %p
    Miaa est une association qui cuisine et distribue des repas, à raison d’une centaine par jour, sous
    la forme de maraudes, quatre à cinq midis par semaine, et dans la mesure du possible toute
    l’année.
  %p
    Lisez plus sur l'association sur
    = link_to "cette page", presentation_path
    , ou bien 
    = link_to "contactez nous", contact_path
    pour plus d'informations.
    
  %h4 Ils parlent de MIAA
  %p 
    %strong Données manquantes!
    
  %h4 Ressources
  %p= link_to "Télécharger le dossier de presse", "/documents/miaa_dossier_de_presse.pdf"
  %p= link_to "Photos HD Disponible sur la page Flickr de MIAA", ""